
<script>
//     document.addEventListener("DOMContentLoaded", () => {
//   console.log("Policy Reminder System Ready 🚀");
// });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/js/data.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/navigation.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/policies.js"></script>

</body>
</html>