
    <div class="sidebar p-3" id="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-section="dashboard">
                    <i class="fas fa-tachometer-alt me-2"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-section="policies">
                    <i class="fas fa-file-alt me-2"></i>All Policies
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-section="create-policy">
                    <i class="fas fa-plus me-2"></i>Create Policy
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#" data-section="my-policies">
                    <i class="fas fa-user me-2"></i>My Policies
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-section="pending">
                    <i class="fas fa-clock me-2"></i>Pending
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-section="login-register">
                    <i class="fas fa-user-plus me-2"></i>Login/Register
                </a>
            </li>
        </ul>
    </div>
